# Telegram Bot Configuration

TELEGRAM_BOT_TOKEN= "8275470479:AAHKxLBs324bIX8pI2PU6LHHQj0l7CbdyOg"

# Base Blockchain Configuration  
BASE_RPC_URL=https://base-mainnet.g.alchemy.com/v2/oN3AA9Ty4v4-bxjWzjhU6
BASE_TESTNET_RPC_URL=https://base-sepolia.g.alchemy.com/v2/oN3AA9Ty4v4-bxjWzjhU6
BASE_WSS_URL=wss://base-mainnet.g.alchemy.com/v2/oN3AA9Ty4v4-bxjWzjhU6

# Uniswap V3 Configuration
UNISWAP_V3_ROUTER=0x2626664c2603336E57B271c5C0b26F421741e481
UNISWAP_V3_FACTORY=0x33128a8fc17869897dce68ed026d694621f6fdfd

# Security
ENCRYPTION_KEY=6HXejs0FP81pAMML17Q7AZinp/uniqWAPW2KFMT/DpY=

# Environment
TESTNET_MODE=true
NODE_ENV=development

# Database
DATABASE_PATH=./data/bot.db

# Referral System
REFERRAL_REWARD_PERCENTAGE=0.01
